<div>
    <div>
        <h2>create a fresh post</h2>
    </div>
    <form id="newpostform">
        <span>title</span>
        <input type="text" name="title" id="posttitle">
        <span>write your post here</span>
        <textarea type="text" name="body" id="postbody"></textarea>
        <div>
            <button type="submit" class="button">submit post</button>
        </div>
    </form>
</div>

<script src="/javascript/fresh.js"></script>